// ----------------------------------------------------------------------

// Settings: Font Size

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  13/06/2016
////
$g-font-sans: 'Roboto', sans-serif !default;

$g-font-serif: 'Libre Baskerville', serif !default;

$g-weight-bold: bold !default;
$g-weight-normal: normal !default;
