.contact {
  background: #EBEBD3;
}

.Contact-list {
  &__image {
    position: relative;
    padding-bottom: 42%;
    overflow: hidden;
    border: 3px solid rgba($c-dark, 0);
    background: rgba($c-dark, .15);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: transparent;
    }
  }

  &__item {
    margin-bottom: $g-spacer-lg;
    border-bottom: 2px solid rgba($c-dark, .15);

    &:last-child {
      border: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.address {
  position: relative;
  padding-left: 2.5rem;
  padding-bottom: $g-spacer-lg;

  p {
    margin: .5rem 0 0;
  }

  .Icon {
    position: absolute;
    top: -2px;
    left: -5px;

    svg {
      fill: $c-primary;
    }
  }
}

.contacts {
  padding-bottom: $g-spacer;

  .icon {
    text-align: left;
    font-size: 2.5rem;
    line-height: 1;
    color: $c-primary;
    display: inline-block;
    margin-right: $g-spacer-sm;
    position: relative;
    top: -3px;
    left: -3px;
  }

  > div {
    display: flex;
    align-items: center;
  }

  a {
    display: inline-block;
    margin-right: $g-spacer-sm;
    text-decoration: none;
    border-bottom: 2px dotted transparent;

    &:hover,
    &:focus {
      border-bottom: 2px dotted rgba($c-primary, .5);
    }
  }
}

@include sm {
  .contact-details {
    display: flex;

    > div  {
      width: 50%;
    }
  }
}

@include md {
  .contact-details {
    display: block;

    > div  {
      width: 100%;
    }
  }

  .Contact-list {
    &__item {
      border: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

@include xl {
  .contact-details {
    display: flex;
  
    > div  {
      width: 50%;
    }
  }
}