.list-2-col {
  list-style: none;
  margin: $g-spacer-lg 0 0;

  @include sm {
    &--sm {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-column-gap: $g-spacer-lg;
      margin-right: $g-spacer-lg;
    }
  }

  @include md {
    &--md {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-column-gap: $g-spacer-lg;
      margin-right: $g-spacer-lg;
    }
  }

  @include lg {
    grid-column-gap: $g-spacer-xl;
    margin-right: $g-spacer-xl;
  }
}