.services {
  background: #f2f2f2;
}

.Service-list {
  list-style: none;
  margin: $g-spacer-lg 0 0;

  h3 {
    color: $c-primary;
  }

  &__image {
    position: relative;
    padding-bottom: 48%;
    overflow: hidden;
    border: 3px solid rgba($c-dark, 0);
    background: rgba($c-dark, .15);

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: transparent;
    }
  }

  @include sm {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: $g-spacer-lg;
    margin-right: $g-spacer-lg;
  }

  @include lg {
    grid-column-gap: $g-spacer-xl;
    margin-right: $g-spacer-xl;

    &__image {
      padding-bottom: 50%;
    }
  }

}

