// ----------------------------------------------------------------------

// Components: Button Theme

// ----------------------------------------------------------------------

////
/// @author   Jaywing
/// @group    jw
/// @created  20/06/2016
////

$button-font-family: $g-font-sans !default;
$button-font-weight: $g-weight-normal !default;
$button-radius:      $g-border-radius !default;

$button-trans-speed: $g-trans-link-speed !default;

$button-bg-color:         $c-light-15 !default;
$button-color:            $c-primary !default;

$button-bg-color-hover:   lighten($c-light-15, 5%) !default;
$button-color-hover:      $c-primary !default;

$button-bg-color-active:  darken($button-bg-color-hover, 20%) !default;
$button-color-active:     $c-dark !default;

$button-disabled-color: $c-disabled-dark !default;

.Button {
  border-radius: $button-radius;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba($c-dark, .3);

  &:not([disabled]) {
    @include color-swap-on-hover(
      $button-color $button-bg-color,
      $button-color-hover $button-bg-color-hover,
      $button-trans-speed
    );
  }

  &:active,
  &.is-active {
    background-color: $button-bg-color-active;
    color: $button-color-active;

    &:hover,
    &:focus {
      background-color: $button-bg-color-active;
      color: $button-color-active;
      box-shadow: 0 0 6px 6px rgba($c-dark, .5);
    }
  }

  &[disabled] {
    color: $button-disabled-color;
    cursor: not-allowed;
  }

  svg {
    fill: $button-color;
  }
}
