<div class="o-Container o-Container--centered">
  <div class="accreditations">
    <div class="nafd">
      <a href="http://nafd.org.uk/" target="_blank">
        <img src="/images/nafd_logo.png" alt="National association of Funeral Director certified" />
      </a>
    </div>

    <div class="bifd">
      <a href="http://www.bifd.org.uk/" target="_blank">
        <img src="/images/bifd_logo.png" alt="British Institute of Funeral Directors" />
      </a>
    </div>

    <div class="bramm">
      <a href="http://www.bramm-uk.org/" target="_blank">
        <img src="/images/bramm_logo.png" alt="British Register of Accredited Memorial Masons" />
      </a>
    </div>

    <div class="perfect-choice">
      <a href="https://www.perfectchoicefunerals.com/" target="_blank">
        <img src="/images/perfect-choice-logo.jpg" alt="Perfect choice funeral plans" />
      </a>
    </div>
  </div>
</div>