<section class="Hero">
  <div class="Hero__image"></div>
  <div class="Hero__content">
    <div class="Hero__content-inner">
      <h1><span class='smaller'>Fourth generation, independent</span> Funeral Directors &amp; <span class='nobr'>Memorial Craftsmen</span></h1>
      <p>Established in 1932, we offer a high quality, personal service to the Devizes and <span class="nobr">Marlborough areas.</nobr></p>
      <p>Incorporating Thomas Free &amp; Sons Funeral Directors, Marlborough <span class="nobr">Est. 1875.</span></p>
      <div>
        <span class="nafd-logo"><img src="/images/nafd_logo.png" alt="National association of Funeral Director certified" /></span>
        <a href="tel:01380722500" class="Button Button--xl"><span class="icon">&#9743;</span> 01380 722500 <span class="smaller">24 hrs</span></a>
      </div>
    </div>
  </div>
</section>