<section id="services" class="page-section services">
  <div class="o-Container o-Container--centered">
    <h2>Services</h2>

    <div class="copy-wrapper">
      <p>Aenean et porttitor nibh. Mauris in justo at enim hendrerit fringilla. Pellentesque placerat dolor et libero vehicula blandit. Curabitur suscipit leo nunc, nec hendrerit ante sollicitudin egestas.</p>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>

    <ul class="Service-list">
      <li class="Card">
        <h3>Funerals</h3>
        <div class="Service-list__image" data-module="LoadImage" data-options='{"url": "/images/horse_drawn2_lrg.jpg", "alt": "Horse drawn hearse", "bp":"300"}'>
          <img src="/images/s.gif" class="c-tile__poster LoadImage" />
          <noscript><img src="/images/horse_drawn2_lrg.jpg" alt="Horse drawn hearse" /></noscript>
        </div>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </li>

      <li class="Card">
        <h3>Pre-paid Funerals</h3>
        <div class="Service-list__image" data-module="LoadImage" data-options='{"url": "/images/bike_hearse3_lrg.jpg", "alt": "The funeral team", "bp":"300"}'>
          <img src="/images/s.gif" class="c-tile__poster LoadImage" />
          <noscript><img src="/images/bike_hearse3_lrg.jpg" alt="The funeral team" /></noscript>
        </div>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </li>

      <li class="Card">
        <h3>Memorials</h3>
        <div class="Service-list__image" data-module="LoadImage" data-options='{"url": "/images/bike_hearse_lrg.jpg", "alt": "Motorcycle hearse", "bp":"300"}'>
          <img src="/images/s.gif" class="c-tile__poster LoadImage" />
          <noscript><img src="/images/bike_hearse_lrg.jpg" alt="Motorcycle hearse" /></noscript>
        </div>        
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </li>
      
      <li class="Card">
        <h3>Vehicles</h3>
        <div class="Service-list__image" data-module="LoadImage" data-options='{"url": "/images/services_limos_lrg.jpg", "alt": "Limo fleet", "bp":"300"}'>
          <img src="/images/s.gif" class="c-tile__poster LoadImage" />
          <noscript><img src="/images/services_limos_lrg.jpg" alt="Limo fleet" /></noscript>
        </div>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </li>
    </ul>

  </div>
</section>