<section id="team" class="page-section team">
  <div class="o-Container o-Container--centered">
    <h2>Our Team</h2>
    <div class="copy-wrapper">
      <p>Aenean et porttitor nibh. Mauris in justo at enim hendrerit fringilla. Pellentesque placerat dolor et libero vehicula blandit. Curabitur suscipit leo nunc, nec hendrerit ante sollicitudin egestas. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
    </div>

    <ul class="Team-list">
      <li class="Card Team-list__item">
        <div class="Team-list__image" data-module="LoadImage" data-options='{"url": "/images/paula_lrg.jpg", "alt": "Paula Winchcombe", "bp":"300"}'>
          <img src="/images/s.gif" class="c-tile__poster LoadImage" />
          <noscript><img src="/images/paula_lrg.jpg" alt="Paula Winchcombe" /></noscript>
        </div>
        <div class="Team-list__copy">
          <h3>Paula Winchcombe</h3>
          <p>Nunc maximus finibus purus ut fringilla. Donec arcu eros, tempus a sodales quis, elementum sit amet libero. Sed venenatis condimentum mattis. Etiam sed tempor nisl, nec posuere ipsum.</p>
        </div>
      </li>

      <li class="Card Team-list__item">
        <div class="Team-list__image" data-module="LoadImage" data-options='{"url": "/images/allie.jpg", "alt": "Alexandra Winchcombe", "bp":"300"}'>
          <img src="/images/s.gif" class="c-tile__poster LoadImage" />
          <noscript><img src="/images/allie_lrg.jpg" alt="Alexandra Winchcombe" /></noscript>
        </div>
        <div class="Team-list__copy">
          <h3>Alexandra Winchcombe</h3>
          <p>Nunc maximus finibus purus ut fringilla. Donec arcu eros, tempus a sodales quis, elementum sit amet libero. Sed venenatis condimentum mattis. Etiam sed tempor nisl, nec posuere ipsum.</p>
        </div>
      </li>

      <li class="Card Team-list__item">
        <div class="Team-list__image" data-module="LoadImage" data-options='{"url": "/images/paula_lrg.jpg", "alt": "Paul Winchcombe", "bp":"300"}'>
          <img src="/images/s.gif" class="c-tile__poster LoadImage" />
          <noscript><img src="/images/paula_lrg.jpg" alt="Paul Winchcombe" /></noscript>
        </div>
        <div class="Team-list__copy">
          <h3>Phillip Winchcombe</h3>
          <p>Nunc maximus finibus purus ut fringilla. Donec arcu eros, tempus a sodales quis, elementum sit amet libero. Sed venenatis condimentum mattis. Etiam sed tempor nisl, nec posuere ipsum.</p>
        </div>
      </li>

      <li class="Card Team-list__item">
        <div class="Team-list__image" data-module="LoadImage" data-options='{"url": "/images/paula_lrg.jpg", "alt": "Paul Winchcombe", "bp":"300"}'>
          <img src="/images/s.gif" class="c-tile__poster LoadImage" />
          <noscript><img src="/images/paula_lrg.jpg" alt="Paul Winchcombe" /></noscript>
        </div>
        <div class="Team-list__copy">
          <h3>Victoria Winchcombe</h3>
          <p>Nunc maximus finibus purus ut fringilla. Donec arcu eros, tempus a sodales quis, elementum sit amet libero. Sed venenatis condimentum mattis. Etiam sed tempor nisl, nec posuere ipsum.</p>
        </div>
      </li>
    </ul>
  </div>
</section>