<section id="team" class="page-section team">
  <div class="o-Container o-Container--centered" style="height: 900px;">
    <div class="copy-wrapper">
      <h2>Our Team</h2>
      <p>Aenean et porttitor nibh. Mauris in justo at enim hendrerit fringilla. Pellentesque placerat dolor et libero vehicula blandit. Curabitur suscipit leo nunc, nec hendrerit ante sollicitudin egestas.</p>
    </div>
  </div>
</section>